<div id="maps">
    <div id="map_div1">
        <div>지도1</div>
    </div>
    <div id="map_div2">
        <div>지도2</div>
        <!-- <i class="zmdi zmdi-caret-down zmdi-hc-3x" onclick="minMap2(event)"></i> -->
    </div>
    <div id="map_div3">
        <div>지도3</div>
    </div>
    <div id="map_div4">
        <div>지도4</div>
    </div>
    <div class="mapqueue"></div>
</div>