<div id="algorithmSearch"></div>
<div id="algorithmTab">
    <fieldset class="algorithm">
        <legend >알고리즘 변수</legend>
        <div class="leftAlgorithmTable"></div>
        <div class="rightAlgorithmTable"></div>
        <div class="algorithmButtonTab"></div>
    </fieldset>
</div>
