<div class="tabs">
    <div class="actv">그룹 DB복사</div>
    <div>교차로 DB복사</div>
</div>

<div class="tab0">
    <div class="searchTab">
        <div class="conditions">
            <div class="lc_name">원본 그룹</div>
            <select id="se" style="width: 100%;"></select>
            <label></label>
        </div>
        <div class="conditions">
            <div class="lc_name">대상 그룹</div>
            <select id="se" style="width: 100%;"></select>
            <label></label>
        </div>
        <div class="conditions">
            <div class="lc_name" style="margin: 10px 0px 20px 0px">복사할 정보</div>
            <div class="check_div">
                <input id="use1" type="checkbox">주기 계획
                <input id="use2" type="checkbox">일 계획
                <input id="use3" type="checkbox">주간 계획
                <input id="use4" type="checkbox">특수일 계획
            </div>
        </div>
        <div class="btn_Div">
            <div class="Cbtn"><i class="zmdi zmdi-copy zmdi-hc-lg"></i>&nbsp;복사</div>
        </div>
    </div>
</div>

<div class="tab1">
    <div class="searchTab">
        <div class="conditions">
            <div class="lc_name">원본 교차로</div>
            <select id="se" style="width: 100%;"></select>
            <label></label>
        </div>
        <div class="conditions">
            <div class="lc_name">대상 교차로</div>
            <select id="se" style="width: 100%;"></select>
            <label></label>
        </div>
        <div class="conditions">
            <div class="lc_name">복사할 정보</div>
            <div class="check_div">
                <input id="use1" type="checkbox">신호제어변수
                <input id="use2" type="checkbox">플래시맵
                <input id="use3" type="checkbox">시그널맵
                <input id="use4" type="checkbox">검지기구성
                <input id="use5" type="checkbox">현시구성
                <input id="use6" type="checkbox">스플릿정보
                <input id="use7" type="checkbox">예약계획
                <input id="use8" type="checkbox">방향별 출력맵
                <input id="use9" type="checkbox">모순맵
                <input id="use10" type="checkbox">알고리즘변수
            </div>
        </div>
        <div class="btn_Div">
            <div class="Cbtn"><i class="zmdi zmdi-copy zmdi-hc-lg"></i>&nbsp;복사</div>
        </div>
    </div>
</div>