<div>
    <div id="flowConfigLcSearch"></div>
    <div id="flowConfigPlanSearch"></div>
</div>
<div id="flowConfigMap"></div>
<div id="flowConfigTab"></div>
<div id="flowConfigButtonTab">
    <div style="float:left" class="Cbtn">이동류 생성</div>
    <div style="float:left" class="Cbtn">이동류 저장</div>
    <div style="float:right" class="Cbtn">편집</div>
</div>
<div id="flowConfigHtml">
</div>