<div class="firRowDiv">
    <div>그룹 검색 :</div>
    <div class="grSearch"></div>
</div>
<div class="secRowDiv">
    <div class="firColDiv">
        <div class="firColTab"></div>
    </div>
    <div class="secColDiv">
        <div class="secColTab"></div>
    </div>
</div>
<div class="thiRowDiv">
    <div class="thiRowTab"></div>
</div>