<fieldset class="lcConfigDetail">
    <legend >교차로 상세편집</legend>
    <div class="leftLcConfigDetailTab"></div>
    <div class="rightLcConfigDetailTab"></div>
    <div class="lcConfigDetailButtonTab"></div>
</fieldset>