<div class="firColDiv">
    <div class="upperDiv">
        <div>교차로</div>
        <div class="intSearch"></div>
        <div class="groupDiv"></div>
    </div>
    <div class="minimapDiv">
        <div class="phaseCnt">
            <div></div>
            <span></span>
        </div>
    </div>
    <div class="lowerFlowDiv">
        <table class="flowTab"></table>
    </div>
	<div class="lowerPhaseDiv">
        <table class="phaseTab"></table>
    </div>
</div>
<div class="secColDiv">
    <div class="rowDiv">
        <table class="firRowTab"></table>
    </div>
    <div class="rowDiv">
        <table class="secRowTab"></table>
    </div>
    <div class="rowDiv">
        <table class="thiRowTab"></table>
    </div>
</div>


<div class="spreadBtn">
    <i class="zmdi zmdi-chevron-right zmdi-hc-2x"></i>
</div>

<div class="spreadDiv">
    <div class="rowDiv">
        <div>
            <table class="firColTab"></table>
        </div>
        <div>
            <table class="secColTab"></table>
        </div>
    </div>
    <div class="rowDiv">
        <div>
            <table class="secRowTab"></table>
        </div>
        <div>
            <table class="thiRowTab"></table>
        </div>
    </div>
    <!-- <div class="rowDiv">
        
    </div> -->
</div>