<div class="mapqueue"></div>
<div class="firRowDiv">
    <div class="filter"></div>
    <div class='firColDiv' id='nodeMap'>
        <div class="grstart Cbtn" title="Ctrl + Space">
            <div>
                연결할 그룹 선택 
                <div class="srch"></div>
                <div class="Cbtn nodenm">등록</div>
                <div class="Cbtn nodenm">닫기</div>
                <div class="Cbtn nodenm">중단</div>
            </div>
            <span>그룹링크 연결 시작</span>
        </div>
        <!-- <div class="undo Cbtn" title="Ctrl + Z">되돌리기</div> -->
        <!-- 지도 -->
    </div>
    <div class='secColDiv'>
        <select class="mode">
            <option value="node" selected>노드 편집모드</option>
            <option value="link">그룹 편집모드</option>
        </select>
        <input type="text" class="search" placeholder="검색" spellcheck="false"></input>
        <i class="zmdi zmdi-search zmdi-hc-2x"></i>
        <div class="chkboxes">
            <div>
                <input type="checkbox" checked>전체
            </div>
            <div>
                <input type="checkbox" checked>빈 노드
            </div>
            <div>
                <input type="checkbox" checked>교차로
            </div>
            <div>
                <input type="checkbox" checked>검지기
            </div>
            <div>
                <input type="checkbox" checked>스마트영상
            </div>
            <div>
                <input type="checkbox" checked>압버튼
            </div>
            <div>
                <input type="checkbox" checked>연등
            </div>
            <div>
                <input type="checkbox" checked>링크
            </div>
        </div>
        <div class="list">
            <div>

            </div>
            <div class="newScrollBar">
                
            </div>
        </div>
        <div class="grlist">
            <div>

            </div>
            <div class="newScrollBar">
                
            </div>
        </div>
    </div>
</div>
<div class="secRowDiv">
    <div class="Cbtn">적용</div>
    <div class="Cbtn">초기화</div>
</div>

