<div class='upperDiv'>
    <div>교차로</div>
    <div class="intSearch"></div>
    <div class="groupDiv"></div>
    <div class="Cbtn"><i class="zmdi zmdi-open-in-new zmdi-hc-lg"></i>TOD 편집</div>
    <div class="Cbtn"><i class="zmdi zmdi-open-in-new zmdi-hc-lg"></i>스플릿 편집</div>
    <div class="Cbtn"><i class="zmdi zmdi-file-text zmdi-hc-lg"></i>엑셀 저장</div>
    <div class="Cbtn"><i class="zmdi zmdi-refresh zmdi-hc-lg"></i>새로 조회</div>
</div>
<div class='lowerDiv'>
    <div class='dplan'>
        <div class="minTitle">일 계획</div>
        <div id="planMap"></div>
        <div class="minTitle">현시 구성 정보</div>
        <div class="pedSearch"></div>
        <div class="phaseDiv">
            <table class="phaseTab"></table>
        </div>
    </div>
    <div class='todplan'>
        <div class="minTitle">TOD 패턴 (스플릿 정보)</div>
        <div class="todSearch"></div>
        <div class="todDiv">
            <table class="todpattern"></table>
        </div>
    </div>
    <div class='dplan'>
        <div class="minTitle">일 계획</div>
        <div class="planSearch"></div>
        <div class="sadDiv">
            <table class="sadTab"></table>
        </div>
        <div class="minTitle">주간 계획</div>
        <div class="sawDiv">
            <table class="sawTab"></table>
        </div>
        <div class="minTitle">예약 계획</div>
        <div class="sarDiv">
            <table class="sarTab"></table>
        </div>
    </div>
    <div class='dplan'>
        <div class="minTitle">특수일 계획</div>
        <div class="sahDiv">
            <table class="sahTab"></table>
        </div>
    </div>
</div>