<fieldset class="serverConfig">
    <legend>서버접속정보</legend>
    <div class="serverConfigTab"></div>
</fieldset>

<fieldset class="connectConfig">
    <legend>연결확인정보</legend>
    <div class="connectConfigTab"></div>
</fieldset>

<div class="preferencesButtonTab"></div>