<div class="todMain">
    <div class="lcInfo">
        <div class="base">
            <div class="title">교차로정보</div>
            <div class="lc">
                <div class="lcname"></div>
            </div>
            <div class="gr">
                <div class="grname"></div>
            </div>
            <div class="btn">
                <div class="Cbtn"><i class="zmdi zmdi-refresh zmdi-hc-lg"></i>조회</div>
            </div>
            <div class="map">
                <div id="lcMap"></div>
            </div>
        </div>
        <div class="phase">
            <div class="title">현시구성정보</div>
            <div class="phaseSearch"></div>
            <div class="tab"></div>
        </div>
        <div class="day">
            <div class="title">일 계획</div>
            <div class="daySearch"></div>
            <div class="tab"></div>
        </div>
    </div>
    <div class="todInfo"> 
        <div class='pattern'>
            <div class="title">TOD 패턴</div>
            <div class="todSearch"></div>
            <div class="tab"></div>
        </div>
        <div class="week">
            <div class="title">주간 계획</div>
            <div class="tab"></div>
        </div>
        <div class="holiday">
            <div class="title">특수일 계획</div>
            <div class="tab"></div>
        </div>
    </div>
</div>